<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIEgWnZTct8Ikgj0kvJuvjRSnv7XaklSI&libraries=places"></script>

    <meta name="theme-color" content="#ffffff">

    <title>SaveMySales</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
